INDICI: PARTE 1

In [52]:
import pandas as pd

Lavorare con gli indici è obbligatorio, sia quando si lavora con Pandas sia quando si lavora con la versione base 
di python. Quello che vedremo ora vale anche per i dataframe.

Nelle lezioni precedenti abbiamo utilizzato pandas a partire da una lista. Per studiare gli indici partiremo ora da 
un dizionario

In [53]:
stip_mensile = {"mario":1312.65,"Ascanio":1232.49, "Mortisia": 943.22}
stip_mensile

{'mario': 1312.65, 'Ascanio': 1232.49, 'Mortisia': 943.22}

Verifichiamo ora che stip_mensile è di tipo dizionario

In [54]:
type(stip_mensile)

dict

Trasformiamo ora il nostro dizionario in un oggetto pandas. Per comodità, lo sovrascriveremo

In [55]:
stip_mensile = pd.Series(stip_mensile)
stip_mensile

mario       1312.65
Ascanio     1232.49
Mortisia     943.22
dtype: float64

In [56]:
type(stip_mensile)

pandas.core.series.Series

Il nostro stip_mensile, quindi, non è più un dizionario, ma è un oggetto di tipo Series, contenuto nella libreria Pandas

Quindi, in definitiva, a cosa servono gli oggetti Series? Questi oggetti ci permettono di separare le chiavi dai valori

Utilizzando l'attributo index otterremo un oggetto di tipo Index, nel quale saranno inserite tutte le chiavi del nostro oggetto di tipo 
Series (che ricordiamo derivare da un dizionario

In [58]:
stip_mensile.index

Index(['mario', 'Ascanio', 'Mortisia'], dtype='object')

In [60]:
type(stip_mensile.index)

pandas.core.indexes.base.Index

In sintesi, i nostri valori, ossia nel nostro caso gli stipendi mensili, si trovano in una porzione di memoria, e ciascun
indice punta a quell'indirizzo di memoria.  In altre parole, gli indici sono oggetti separati, e devono
essere trattati come tali.

ESERCIZI

ESERCIZIO 1: 

Create a dictionary named workers_age where the keys are the names of the employees and their corresponding ages are the integer values. The employees' names and their ages are as follows:

Amy White, 50

Jack Stewart, 53

Richard Lauderdale, 35

Sara Johnson, 43.

SOLUZIONE

In [2]:
workers_age = {'Amy White': 50, 'Jack Stewart':53,'Richard Lauderdale': 35, 'Sara Johnson' : 43 }

print(workers_age)

{'Amy White': 50, 'Jack Stewart': 53, 'Richard Lauderdale': 35, 'Sara Johnson': 43}

Exercise #2
Verify the type of workers_age is a dictionary.

SOLUZIONE

In [4]:
workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}

print(type(workers_age))

<class 'dict'>

Exercise #3
Create a Series from workers_age, giving it the same name.

Confirm that the task was done correctly by printing out the contents of the newly created object.

SOLUZIONE

In [8]:
import pandas as pd

workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}

workers_age = pd.Series(workers_age)

print(workers_age)

Amy White             50
Jack Stewart          53
Richard Lauderdale    35
Sara Johnson          43
dtype: int64

Exercise #4
Verify workers_age is a Series object.

SOLUZIONE

In [11]:
import pandas as pd

workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}
workers_age = pd.Series(workers_age)

print(type(workers_age))

<class 'pandas.core.series.Series'>

Exercise #5
Retrieve the index of workers_age.

SOLUZIONE

In [14]:
import pandas as pd

workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}
workers_age = pd.Series(workers_age)

print(workers_age.index)

Index(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], dtype='object')

INDICI: PARTE 2

Abbiamo visto fin qui le pandas Series. Ricordiamo brevemente cos'è una Series di tipo pandas, come si estraggono gli indici e come verificarne la tipologia.

In [19]:
import pandas as pd

workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}

workers_age = pd.Series(workers_age)

print(workers_age)

Amy White             50
Jack Stewart          53
Richard Lauderdale    35
Sara Johnson          43
dtype: int64

In [21]:
type(workers_age)

pandas.core.series.Series

In [25]:
workers_age.index

Index(['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], dtype='object')

In [27]:
type(workers_age.index)

pandas.core.indexes.base.Index

Gli indici delle pandas series sono delle strutture dati molto solide. Le strutture dati possono essere implicite o esplicite

Riprendiamo la nostra pandas series workers_age:

In [34]:
import pandas as pd

workers_age = {'Amy White':50, 'Jack Stewart':53, 'Richard Lauderdale':35, 'Sara Johnson':43}

workers_age = pd.Series(workers_age)

print(workers_age)

Amy White             50
Jack Stewart          53
Richard Lauderdale    35
Sara Johnson          43
dtype: int64

Così come nei dizionari, abbiamo a che fare con coppie chiave-valore. Possiamo accedere ad un determinato valore in due modi:
sia tramite la chiave, sia tramite la posizione. Consideriamo, ad esempio, il numero 35. Possiamo accedervi tramite la chiave
'Richard Lauderlale' o tramite la posizione 2

In [48]:
workers_age['Richard Lauderdale']

35

In [50]:
workers_age[2]

C:\Users\jgian\AppData\Local\Temp\ipykernel_12480\1410942056.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  workers_age[2]

35

In [52]:
workers_age.iloc[2]

35

Quindi, per accedere tramite posizione, non si usa più la notazione workers_age[2] ma la notazione workers_age.iloc[2]

ESERCIZI

Exercise #1
Create a pandas Series object from a dictionary with keys "Martin" and "George" and values 8 and 5, respectively. 
Call this Series employees_work_exp, as from "workers work experience".

SOLUZIONE

In [60]:

import pandas as pd

workers_work_experience = {'Martin':8, 'George': 5}


employees_work_exp = pd.Series(workers_work_experience)

print(employees_work_exp)

Martin    8
George    5
dtype: int64

In [ ]:
Exercise #2
Retrieve the index values of employees_work_exp to confirm they are labels.

SOLUZIONE

In [63]:
import pandas as pd

employees_work_exp = pd.Series({'Martin':8, 'George':5})

print(employees_work_exp.index)

Index(['Martin', 'George'], dtype='object')