In [69]:
# Studio librerie numpy e pandas

In [71]:
# A partire da una lista, costruiamo una serie di tipo pandas

In [13]:
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

In [1]:
esempio_lista = ["mela","pera","banana"]

In [3]:
esempio_lista

['mela', 'pera', 'banana']

In [7]:
type(esempio_lista)

list

In [15]:
esempio_series = pd.Series(esempio_lista)

In [17]:
esempio_series

0      mela
1      pera
2    banana
dtype: object

In [89]:
# Ovviamente esempio_series è di tipo object, perché tutti gli elementi sono di tipo stringa, e quindi sono oggetti.

In [19]:
type(esempio_series)

pandas.core.series.Series

In [21]:
type(pd.Series(esempio_lista))

pandas.core.series.Series

In [23]:
type(pd.Series(["mela","pera","banana"]))

pandas.core.series.Series

In [ ]:
# Esempio con valori numerici

In [83]:
reddito_mensile_lavoratori = [1320.33,1275.34,1533,20,800.00]

In [85]:
reddito_mensile_lavoratori_series = pd.Series(reddito_mensile_lavoratori)

In [87]:
reddito_mensile_lavoratori_series

0    1320.33
1    1275.34
2    1533.00
3      20.00
4     800.00
dtype: float64

In [33]:
type(reddito_mensile_lavoratori_series)

pandas.core.series.Series

In [75]:
# Il risultato è una "tabella" con due colonne. Questa tabella è di tipo FLOAT, perché tutti gli elementi sono di tipo float. Ovviamente, utilizzando
# la funzione type scopriremo che reddito_mensile_lavoratori_series .  Nella prima colonna abbiamo gli indici, nella seconda abbiamo il reddito mensile 
# dei lavoratori.
# Questa tabella ci dice che il lavoratore 0 guadagna 1320.33 euro mensili, il lavoratore 1 ne guadagna 1275, etc

In [59]:
# Introduciamo ora la libreria numpy. A partire da una lista, possiamo creare un array di tipo ndarray

In [43]:
import numpy as np

In [45]:
reddito_mensile_lavoratori = ['1320.33','1275.34','1533,20','800.00']

In [49]:
reddito_mensile_lavoratori_array_numpy = np.array(reddito_mensile_lavoratori)

In [51]:
reddito_mensile_lavoratori_array_numpy

array(['1320.33', '1275.34', '1533,20', '800.00'], dtype='<U7')

In [53]:
type(reddito_mensile_lavoratori_array_numpy)

numpy.ndarray

In [ ]:
# Il risultato, è quindi un array n dimensionale.

In [79]:
'--------------------------------'

'--------------------------------'

In [91]:
# Cosa conviene utilizzare tra pandas e numpy?  Si tenga presente che:
# 1. Una Serie di tipo pandas è una versione più potente di una lista di python base, ed è una versione migliorata di un array 
# di tipo numpy
#
# 2. Pandas ti permette di ottenere qualsiasi informazione dal dataset. Tuttavia, la libreria numpy è più veloce
#
# 3. Una Series è un'insieme di funzioni che appartengono solo alla libreria pandas. 
#
# 4. GLi elementi di un oggetto di tipo Series hanno un ordinamento, e ciascun valore è relativo ad un determinato indice.