In [1]:
# Python Attributes

In [9]:
# Quasi tutti gli elementi in Python sono oggetti. Ciascun oggetto in python contiene:
#  DATI
#  METADATI (Ossia informazioni sui dati)
#  FUNZIONI

# In sintesi, un attributo è una variabile che fornisce i metadati ad un oggetto
# Un metodo, invece, è una funzione associata ad un oggetto

In [133]:
import pandas as pd

In [135]:
punteggi = [32.12,63.89,85.38,5.33,10.41]

In [137]:
serie_punteggi = pd.Series(punteggi)

In [139]:
serie_punteggi

0    32.12
1    63.89
2    85.38
3     5.33
4    10.41
dtype: float64

In [21]:
# Come sappiamo, la prima colonna contiene gli indici e la seconda colonna contiene i punteggi

In [25]:
# Da come si vede, il tipo della "tabella" mostrata è di tipo float: Si vede nella riga al di sotto della tabella. 
# serie_punteggi, infatti, è di tipo dtype: float64

In [35]:
# Possiamo utilizzare il metodo dtype per stampare solo il tipo della "tabella". dtype è infatti il diminutivo di data type.

In [141]:
serie_punteggi.dtype

dtype('float64')

In [41]:
# Vediamo ora il numero di righe della nostra "tabella" con le funzione .size .  Si ricordi che il termine tabella è 
# improprio. In realtà stiamo lavorando con una serie di tipo Pandas!!!

In [143]:
serie_punteggi.size

5

In [47]:
# La nostra "tabella" ha quindi 5 righe!!!

In [49]:
# In sintesi: serie_punteggi è una "tabella" è composta da 5 righe e 2 colonne. Nella prima riga abbiamo gli indici, nella
# seconda abbiamo serie_punteggi. La funzione dtype ci dice che serie_punteggi è di tipo float e la funzione size ci dice che 
# abbiamo 5 righe.

In [51]:
# Consideriamo ora un'altra serie pandas. I suoi elementi saranno stringhe.

In [145]:
studenti = ['Adele','Alfonso','Alessandro','Jacopo','Matteo']

In [147]:
serie_studenti = pd.Series(studenti)

In [149]:
serie_studenti

0         Adele
1       Alfonso
2    Alessandro
3        Jacopo
4        Matteo
dtype: object

In [21]:
# Numero di righe di serie_studenti

In [151]:
serie_studenti.size

5

In [25]:
# Tipo di dati in serie_studenti

In [153]:
serie_studenti.dtype

dtype('O')

In [29]:
# Dove O sta per Object. Si ricordi che qualsiasi serie NON CONTENTENTE valori numerici sarà di tipo Object.

In [71]:
# Risulta immediato vedere che serie_studenti.size è di tipo int

In [31]:
type(serie_studenti.size)

int

In [89]:
# Aggiungiamo ora un elemento alla nostra Series. Supponiamo si voler inserire al suo interno uno studente con un punteggio
# ridicolo. Chiameremo questa variabile 'studente_stupido'

In [155]:
serie_studenti.stupido = "Gizzi"

In [93]:
# Stampiamo la nostra Series:

In [157]:
serie_studenti

0         Adele
1       Alfonso
2    Alessandro
3        Jacopo
4        Matteo
dtype: object

In [97]:
# La nostra serie non è cambiata. Ma siamo sicuri? Richiamiamo serie_studenti.studente_stupido

In [127]:
serie_studenti.stupido

'Gizzi'

In [125]:
# Quindi, in realtà, la chiave studente_stupido è stata aggiunta alla Series serie_studenti. Quindi perché non l'ha
# Stampato? Boh

In [53]:
# ESERCIZI

In [55]:
# Esercizio 1

Create a Pandas Series object, called work_experience_years, which should contain the following integers in the given order: 5, 8, 3, and 10.

Please don't forget to use the print() function to print out the desired output.

In [58]:
# Soluzione 1

In [66]:
import pandas as pd

work_experience_years = pd.Series([5,8,3,10])

print(work_experience_years)

0     5
1     8
2     3
3    10
dtype: int64

In [70]:
# ESERCIZIO 2

Convert the work_experience_years object from a Pandas Series into a NumPy array. Accomplish this task without overwriting the contents of work_experience_years.

In [75]:
# SOLUZIONE 2

In [73]:
import pandas as pd
import numpy as np

work_experience_years = pd.Series([5,8,3,10])


print(work_experience_years.to_numpy())

[ 5  8  3 10]

In [77]:
# ESERCIZIO 3

Check the type of the following object: work_experience_years.to_numpy().

In [80]:
# SOLUZIONE 3

In [82]:
import pandas as pd

work_experience_years = pd.Series([5,8,3,10])


print(type(work_experience_years.to_numpy()))

<class 'numpy.ndarray'>

In [84]:
# ESERCIZIO 4

Use an attribute to find the number of elements in the underlying data (work_experience_years).

In [87]:
# SOLUZIONE 4

In [89]:
import pandas as pd

work_experience_years = pd.Series([5,8,3,10])

print(work_experience_years.size)

4

In [91]:
# ESERCIZIO 5

Assign the name 'Work Experience (Yrs.)' to the work_experience_years Series.

In [95]:
# SOLUZIONE 5

In [100]:
import pandas as pd
 
work_experience_years = pd.Series([5,8,3,10])
work_experience_years.name = "Work Experience (Yrs.)"

print(work_experience_years)

0     5
1     8
2     3
3    10
Name: Work Experience (Yrs.), dtype: int64

In [102]:
# ESERCIZIO 6

Display the name of the Series.

In [110]:
# SOLUZIONE 6

In [112]:
import pandas as pd

work_experience_years = pd.Series([5,8,3,10])
work_experience_years.name = "Work Experience (Yrs.)"

print(work_experience_years.name)

Work Experience (Yrs.)

In [114]:
# ESERCIZIO 7

Display the Series itself, to see the name appear below the data values it contains.

In [117]:
# SOLUZIONE 7

In [119]:
import pandas as pd

work_experience_years = pd.Series([5,8,3,10])
work_experience_years.name = "Work Experience (Yrs.)"

print(work_experience_years)

0     5
1     8
2     3
3    10
Name: Work Experience (Yrs.), dtype: int64